In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [8]:
df = pd.DataFrame([
    ['tianshi', 'ts', 2017, 'red'],
    ['rinv', 'baolan', 2018, 'yellow'],
    ['xkzn', 'jkl', 2019, 'blue'],
])
df.columns = ['name', 'use', 'year','color']

In [9]:
df

      name     use  year   color
0  tianshi      ts  2017     red
1     rinv  baolan  2018  yellow
2     xkzn     jkl  2019    blue

In [17]:
lecolor = LabelEncoder()
df['color_encoded'] = lecolor.fit_transform(df.color)

color_ohe = OneHotEncoder()
X = color_ohe.fit_transform(df.color_encoded.values.reshape(-1, 1)).toarray()

dfOneHot = pd.DataFrame(X, columns=["Color_" + str(int(i)) for i in range(X.shape[1])])
df = pd.concat([df, dfOneHot], axis=1)

C:\ProgramData\Anaconda3\envs\dl\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [18]:
df

,name,use,year,color,color_encoded,Color_0,Color_1,Color_2,Color_0,Color_1,Color_2
0,tianshi,ts,2017,red,1,0.0,1.0,0.0,0.0,1.0,0.0
1,rinv,baolan,2018,yellow,2,0.0,0.0,1.0,0.0,0.0,1.0
2,xkzn,jkl,2019,blue,0,1.0,0.0,0.0,1.0,0.0,0.0